<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Inventaire collaboratif des cagnottes et initiatives solidaires à travers la France</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ce projet propose une page recensant les cagnottes et initiatives solidaires à travers la France. Il s'appuie sur le travail d'inventaire de @chloe.madesta et @queergouine et est alimenté par toute une communauté de façon collaborative.">

    <!-- Facebook meta -->
    <meta property="og:title" content="Inventaire collaboratif des cagnottes et initiatives solidaires à travers la France"/>
    <meta property="og:description" content="Ce projet propose une page recensant les cagnottes et initiatives solidaires à travers la France. Il s'appuie sur le travail d'inventaire de @chloe.madesta et @queergouine et est alimenté par toute une communauté de façon collaborative.">
    <meta property="og:locale" content="fr_FR"/>

    <!-- TODO -->
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <!-- end TODO -->

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />

    <link
     href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap"
     rel="stylesheet">
    <link href="main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="main">
      <h1>Cagnottes et initiatives solidaires</h1>
      <h2>Inventaire collaboratif à travers la France</h2>

      <nav><a href="a-propos.html">À propos</a></nav>

      <form class="search">
        <select id="topic-filter">
          <option value="Tous">Filtrer par thématique&hellip;</option>
          <% @topics.each do |i, item| %>
            <option value="<%= i %>"><%= item['label'] %></option>
          <% end %>
        </select>
      </form>

      <ul class="main-list">

        <% @inventory.each do |item| %>
          <li class="show" data-topic="<%= item['keywords'] %>">
            <article>
              <h3><%= item['organization'] %></h3>
              <p><%= item['mission'] %></p>

              <ul class="tags">
                <% @topics[item['keywords']]['keywords'].each do |keyword| %>
                  <li class="bg-<%= @topics[item['keywords']]['color']%>">
                    <%= keyword %>
                  </li>
                <% end %>
              </ul>

              <dl class="infos">

                <% if item['localization'].present? %>
                <dt class="visually-hidden">Périmètre d'action :</dt>
                <dd>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#localisation"></use>
                  </svg>
                  <%= item['localization'] %>
                </dd>
                <% end %>

                <% if item['website'].present? %>
                <dt class="visually-hidden">Lien :</dt>
                <dd>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#geography"></use>
                  </svg>
                  <a href="<%= item['website'] %>">
                    <%= item['website'] %>
                  </a>
                </dd>
                <% end %>

                <% if item['contact'].present? %>
                <dt class="visually-hidden">Contact :</dt>
                <dd>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#pencil"></use>
                  </svg>
                  <%= item['contact'] %>
                </dd>
                <% end %>

              </dl>
            </article>
          </li>
        <% end %>

      </ul>

      <footer>
        <ul>
          <li>
            <a href="a-propos.html">
              À propos
            </a>
          </li>
        </ul>
      </footer>
    </div>


    <svg aria-hidden="true">
      <symbol id="localisation" viewBox="0 0 16 16">
        <title>Localisation</title>
        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0
        4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </symbol>
      <symbol id="geography" viewBox="0 0 16 16">
        <title>Geography</title>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
        8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145
        4H7.5V1.077zM4.09 4H2.255a7.025 7.025 0 0 1 3.072-2.472 6.7 6.7 0
        0 0-.597.933c-.247.464-.462.98-.64 1.539zm-.582
        3.5h-2.49c.062-.89.291-1.733.656-2.5H3.82a13.652 13.652 0 0 0-.312
        2.5zM4.847 5H7.5v2.5H4.51A12.5 12.5 0 0 1 4.846 5zM8.5
        5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51
        8.5H7.5V11H4.847a12.5 12.5 0 0 1-.338-2.5zm3.99
        0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145
        12H7.5v2.923c-.67-.204-1.335-.82-1.887-1.855A7.97 7.97 0 0 1 5.145
        12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09
        12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11H1.674a6.958 6.958
        0 0 1-.656-2.5h2.49c.03.877.138 1.718.312 2.5zm6.853 3.472A7.024
        7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688
        0 0 1-.597.933zM8.5 12h2.355a7.967 7.967 0 0 1-.468 1.068c-.552
        1.035-1.218 1.65-1.887
        1.855V12zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65
        13.65 0 0 1-.312 2.5zm2.802-3.5h-2.49A13.65 13.65 0 0 0 12.18
        5h2.146c.365.767.594 1.61.656 2.5zM11.27 2.461c.247.464.462.98.64
        1.539h1.835a7.024 7.024 0 0
        0-3.072-2.472c.218.284.418.598.597.933zM10.855 4H8.5V1.077c.67.204
        1.335.82 1.887 1.855.173.324.33.682.468 1.068z"/>
      </symbol>
      <symbol id="pencil" viewBox="0 0 16 16">
        <title>Pencil</title>
        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5
        1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646
        6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1
        .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1
        .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0
        1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0
        1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0
        0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
        .168-.11l.178-.178z"/>
      </symbol>
    </svg>

    <script>
      const select = document.getElementById('topic-filter')
      select.addEventListener('change', function(e) {
        const topic = select.options[select.selectedIndex].value
        const allElements = document
          .querySelectorAll('.main-list li')

        if (topic == 'Tous') {
          allElements.forEach(function(element) {
            element.classList.add('show')
          })

          return
        }

        allElements.forEach(function(element) {
          element.classList.remove('show')
        })

        const elementsToShow = document
          .querySelectorAll('[data-topic="' + topic + '"]');

        elementsToShow.forEach(function(element) {
          element.classList.add('show')
        })

      })
    </script>
  </body>
</html>
